
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root{
    --primary-color: #ff92db;
    --secundary-color: #ff8bd5;
    --tertiary-color: white;
    --quaternary-color: #cc3687;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kode Mono', sans-serif;
}


header {
    position: fixed;
    margin-top: 1%;
    margin-left: 2%;
}

.container {
    width: 100%;
    height: 93.7vh;
    display: flex;
    justify-content:space-around;
    background-color: var(--primary-color);
}

.container__form {
    margin: 10% 0% 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.container-form__textarea {
    width: 100%;
    height: 50%;
    border: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-size: 30px;
    resize: none;
    outline: none;
}

.container-form__rodape {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-form__rodape__alert {
    font-size: 1.25rem;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px var(--quaternary-color;
}

.container-form__rodape__buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.container-form__button-descriptografar, .container-form__button-criptografar {
    width: 50%;
    height: 4rem;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
}

.container-form__button-descriptografar:hover, .container-form__button-criptografar:hover, .container-return__copy:hover{
    box-shadow: 0px 0px 10px var(--quaternary-color);
    font-size: 115%;
}

.container-form__button-criptografar {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.container-form__button-descriptografar {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}

.container-return {
    width: 30%;
    height: 88%;
    margin: 2.4% 4% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--secundary-color);
    color: var(--tertiary-color);
    text-shadow: 0 0 20px var(--quaternary-color);
    border-radius: 20px;
    box-shadow: 0.5px 1px 15px var(--quaternary-color);
}

.container-return__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 80%;
    gap: 40px;
}

.container-return__box__msg {
    line-height: 2rem;
    word-break: break-word;
    overflow: auto;
}

.img-principal {
    width: 60%;
    opacity: 80%;
    filter: brightness(20%);
}

.detail-content {
    font-size: 1.5rem;
    color: var(--quaternary-color);
}

.container-return__copy {
    display: none;
    background-color: var(--tertiary-color);
    font-size: 1rem;
    color: var(--primary-color);
    border: none;
    width: 80%;
    height: 4rem;
    border-radius: 20px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 0.25rem;
    background-color: white;
}

.rodape-identification {
    font-size: 1.5rem;
}

.rodape-images {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}


.rodape-images-icon-linkd {
    width: 3rem;
    height: 3rem;
}

.rodape-images-icon-linkd:hover, .rodape-images-icon-git:hover {
    border-radius: 20px;
    box-shadow: 0 0 4px var(--quaternary-color);
}

.rodape-images-icon-git {
    width: 3rem;
    height: 3rem;
}


@media only screen and (max-width: 480px) {

    header {
        position:static;
        background-color: var(--primary-color);
        padding: 1rem;
        margin: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80vh;
        justify-content: center;
    }

    .container__form {
        margin: 1% 0% 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 50%;
    }

    .container-form__textarea {
        height: 58%;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .container-form__rodape {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .container-form__rodape__alert {
        font-size: 0.75rem;
    }

    .container-form__rodape__buttons {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .container-form__button-descriptografar, .container-form__button-criptografar {
        width: 100%;
        height: 3rem;
        border-radius: 20px;
        font-size: 0.8rem;
        border: none;
    }

    .container-return{
        margin: 0;
        width: 90%;
        height: 35%;
        padding: 4%;
    }

    .container-return__box {
        height: 70%;
        width: 90%;
    }

    .detail-content {
        font-size: 0.95rem;
    }

    .container-return__box__msg {
        font-size: 0.85rem;
    }

    .img-principal {
        display: none;
    }

    .rodape {
        padding: 0.75rem;
    }
    
    .rodape-identification {
        font-size: 1rem;
    }
    
    .rodape-images {
        gap: 0.5rem;
    }
    
    
    .rodape-images-icon-linkd {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .rodape-images-icon-git {
        width: 2.5rem;
        height: 2.5rem;
    }

}


@media only screen and (min-width: 481px) and (max-width: 800px) {
    
    header {
        position:static;
        background-color: var(--primary-color);
        padding: 1rem;
        margin: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .container__form {
        margin: 0 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 50%;
    }

    .container-form__textarea {
        font-size: 2rem;
    }

    .container-form__rodape {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .container-form__rodape__alert {
        font-size: 1rem;
    }

    .container-form__rodape__buttons {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .container-form__button-descriptografar, .container-form__button-criptografar {
        width: 100%;
        height: 3.5rem;
        border-radius: 20px;
        font-size: auto;
        border: none;
    }

    .container-return{
        margin: 0;
        width: 90%;
        height: 30%;
        font-size: 1rem;
        padding: 3%;
    }

    .container-return__box{
        height: 70%;
        width: 90%;
    }

    .img-principal {
        display: none;
    }

    .container-return__copy {
       width: 60%;
       height: 3.5rem;
       border-radius: 20px;
       font-size: auto;
       border: none;
    }
  }
